$baseColor: #398B93;
$borderRadius: 10px;
$padding: 10px;

.Users{
    &-SortIcon{
        display: inline-block;
        width:1em;
        margin-left: 5px;
        height:0.8em;
        background:url('../../icons/noun_arrow_6641.png');
        background-size: cover;
        transform: rotate(90deg);
        transition: 0.2s;
        cursor: pointer;
        &_Desc{
            transform: rotate(-90deg);
            
        }
    }
    border: 1px solid darken($baseColor, 5%);
    border-radius: $borderRadius;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
    max-width: calc(100% - 2em);
    margin: 1em auto;
    overflow: hidden;
    width: 1200px;
    

    &-header{
        padding: 1rem;
    }
}
.Users-table{
    width: 100%;
    background-color: lighten($baseColor, 30%);
    td, th { 
        color: darken($baseColor, 10%);
        padding: $padding;
        
    }

    td {
        text-align: center;
        vertical-align: middle;
        
        &:last-child {
           font-size: 0.95em;
           line-height: 1.4;
           text-align: left;
        }
    }
    th { 
        background-color: lighten($baseColor, 50%);
    }
     
    tr {     
        &:nth-child(2n) { background-color: white; }
        &:nth-child(2n+1) { background-color: lighten($baseColor, 55%) }
    }    
}
@media (min-width: 992px) and (max-width: 1199px) {
    .Users{
        width: 992px;
        font-size:0.8em;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .Users{
        width: 768px;
        font-size:0.6em;
        th,td{
            padding: 5px;
        }
    }
}
@media screen and (max-width: 767px){
    .Users-table, tr, td { 
        display: block;
    }
    .Users-header{
        position: fixed;
        height: 50px;
        left:0;
        right:0;
        top:0;
        z-index: 10;
    }
    .Users-table{
        margin-top:65px;
    }
    .Users-thead{
        display: none;
    }
    
    .User{
        padding: 5px 0;
        position: relative;
        
        td{
            clear: both;
            min-width: calc(93vw - 2em);
            
            text-align: right;
            padding-right:$padding*2;
            &::before{
                content: attr(data-label);
                padding-left: $padding;
                float:left;
            }   
        }
    }

}

@media screen and (max-width:480px){
    
    .Users-table, tr, td { 
        display: block;
    }
    .Users-thead{
        display: none;
    }
    
    .User{
        padding: 5px 0;
        position: relative;
        
        td{
            clear: both;
            position: relative;
            text-align: right;
            &::before{
                content: attr(data-label);
                float:left;
            }   
        }
    }

}