$baseColor: #398B93;
$borderRadius: 10px;
$padding: 10px;

.Header{
    background-color: darken($baseColor, 5%);
    
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &-search{
        background: transparent;
        border:none;
        outline: none;
        color:white;
        font-size: 1.5em;
        &::placeholder{
            color:white;
        }
    }
    &-name{
        color: white;
        font-size: 1.5em;
    }
    &-SortIcon{
        display: none;
        width:1.5em;
        margin-left: 5px;
        height:1.5em;
        background:url('../../icons/noun_arrow_6641.png');
        background-size: cover;
        transform: rotate(90deg);
        transition: 0.2s;
        cursor: pointer;
        &_Desc{
            transform: rotate(-90deg);
            
        }
    }
}
@media screen and (max-width: 767px){
    .Header{
        &-name{
            display: none;
        }
        &-SortIcon{
            display: block;
        }
    }
}

